div{
  margin:0px;
}
  body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
  nav{
    padding:10px;
    background-color:blue;
  }
  nav a{
    padding-left:15px;
    color:white;
    text-decoration: none;
  }
  a:hover{
    background-color:gray;
  }
  .imgt img{
    width:100%;
    height:auto;
  }
  .content{
      text-align: center;
  }
  .content h1{
    font-size: 40px;
  }
  .content p{
    font-size: 20px;
  }
  footer{

    background-color: black;
    color: white;
    text-align: center;
  }
