{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminlayout.css') }}">

  </head>
  {% block body %}
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/item">item</a>
      <a href="/login">admin</a>
    </nav>
    <br>
    <div class="title">
      <h1>inventory</h1>
    </div>

    <center>
      <h1>request two items form</h1>
    </center>
    <div class="message"><!-- Displays flash message if it is true-->
    {% with message = get_flashed_messages() %}
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
    {%endwith%}
  </div>
    <div class="column">
        <div class="card">
          <h1>request card</h1>
          {{ wtf.quick_form(forma) }}
      </div>
    </div>

  </body>
  {% endblock %}
</html>
